* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  color: #000;
  background: url('assets/bg.jpg') no-repeat center;
  background-size: cover;
}

.container {
  margin: 80px auto;
  padding: 10px 30px;
  background-color: #F7F7F7;
  border: 1px solid #000;
  border-radius: 10px;
  box-shadow: 3px 3px 7px #000 ;
  width: 400px;
}

h2 {
  display: flex;
  justify-content: center;
  margin-bottom: 25px;
  font-weight: bold;
}

.form-input {
  padding: 20px;
}

.input-data {
  margin-top: 8px;
}


input[type="number"] {
  width: 100%;
  height: 40px;
  border-radius: 4px;
  border: 1px solid #fff;
  padding: 6px;
  margin-bottom: 12px;
  outline: none;
  border: none;
}

input[type="number"]:focus {
  outline: none;
  border: none;
  background: yellow;
}

.aksi {
  padding-top: 10px;
}

.aksi .btn-hitung {
  border: 2px solid #000;
  border-radius: 7px;
  padding: 10px;
  margin-right: 5px;
  font-weight: bold;
  background: #65A550;
  color: #FFFFFF;
}

.aksi .btn-hitung:hover {
  background: #81BF6A;
}

.aksi .btn-reset {
  border: 2px solid #000;
  border-radius: 7px;
  padding: 10px;
  font-weight: bold;
  background: #EDEDED;
  color: #333333;
}

.aksi .btn-reset:hover {
  background: #D1D1D1;
}

.input-data input {
  margin-top: 10px;
}

.result-section {
  margin-top: 20px;
  border-radius: 10px;
  background-color: yellow;
}

.result-dari-js {
  padding: 10px;
}

.footer-form {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.hakcipta {
  font-weight: bold;
  font-size: 15px;
}